@model IEnumerable<CrossvertiseAppNew.Appointment>


<table border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Month.Month1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Appointment1)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Month.Month1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Ajax.ActionLink(item.Appointment1, // <-- Text to display
                      "GetMeetingDetails", // <-- Action Method Name
                      new { meetingId = item.AppId },
                      new AjaxOptions
                      {
                          UpdateTargetId = "dvTeamMetingdetails", // <-- DOM element ID to update
                          InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                          HttpMethod = "GET" // <-- HTTP method
                      })
            </td>
        </tr>
    }

</table>

